/* 
	Author: AMPM, 2025
	File: global.css
	Goal: same / shared css to other files
*/

/* carrega font localmente */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* ==== colors ===  */
:root {
    --bg-color-primary: #00000059;
    --bg-color-secundary: #0006;
    --bg-menu: rgba(0, 0, 0, 0.8);
    --bg-link-active: #1c1b22;
    --link-text-color: #fbfbfea1;
    --link-text-color-active: #e3e3ea;
    --overlay: #000;

    --font-family-sans-serif: 'Roboto', sans-serif;
}

/*  Resets */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*  1rem => 10px*/
    font-size: 62.5%;
    scroll-behavior: smooth;
    color-scheme: dark;
}

body {
    font-family: var(--font-family-sans-serif);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    color: var(--link-text-color);

}

ul {
    list-style-type: none;
    margin-inline-start: 3rem;
    font-size: 1.6rem;
    line-height: 2;
}

li {
    margin-block-end: 2rem;
}

h1 {
    font-size: 4.9rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.4rem;
}

p,
a {
    font-size: 1.6rem;
}

h2,
h3 {
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    .big-title {
        font-size: 8rem;
    }

    h1 {
        font-size: 6.4rem;
    }

    h2 {
        font-size: 4.8rem;
    }

    h3 {
        font-size: 3.2rem;
    }
}

img {
    display: block;
    width: 100%;
}

/*============ Main layout =================*/

/* Main content */
#main-content {
    padding: 2rem 0;
}

#main-content h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
}


@media only screen and (min-width: 1024px) {
    #main-content h1 {
        margin-left: auto;
    }

}

/* ===== Utils ======== */

.big-title {
    font-size: 6.4rem;
    font-weight: 900;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Btn */
.btn {
    font-weight: 400;
    display: inline-block;
    padding: 1.2rem 3rem;
    font-size: 1.8rem;
}

.btn-primary {
    background-color: var(--bg-link-active);
}

.btn-primary:hover {
    color: var(--link-text-color-active);
    background-color: rgba(0, 0, 0, 0.1);

}

.btn-outline {
    color: var(--link-text-color)
}

.btn-outline:hover {
    color: aliceblue;
}